body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg, #04555f 10% ,#022930 30%, #012423 80%);
    color: #dfdfdf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment:fixed;
}
/*body::selection {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}*/

.side-bar {
    font-family: monospace;
    width: 13%;
    height: 100vh;
    background-color: #242424;
    color: rgb(194, 194, 194);
    box-sizing: border-box;
    white-space: nowrap;
    transition: width 0.2s ease-in-out;
    overflow: hidden;
}
.side-bar.close {
    width: 0;
    overflow: hidden;
    /*transition: width 0.3s;*/
}
.side-bar a {
    font-size: 1.3em;
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.side-bar a:hover {
  background-color: #424242;
}
.side-bar a.active {
  background-color: #066470;
}
.hoofd-container {
    width: 87%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: width 0.3s ease-in-out;
}

.fa-bars {
    /*position: absolute;
    top: 20px;
    left: 30px;*/
    margin-left: 0.4em;
    font-size: 2em;
    color: #bbbbbb;
    transition: all 0.3s ease-in-out;
    /*z-index: 2;*/
}
.fa-bars:hover {
    cursor: pointer;
    color: #dddddd;
}
.top-secties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    text-align: center;
    /*margin-bottom: 20px;*/
}
.top-sectie1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /*justify-content: space-between;*/
    /*align-items: center;*/
}
.top-sectie2 {
    display: flex;
    flex-direction: column;
    /*align-items: flex-end;*/
    gap: 60px;
}
.header h1{
    display: inline-block;
    margin: 0;
}
.header select {
    background: linear-gradient(360deg,#022124 10%,#efefef 360%);
    color: #b8b8b8;
    vertical-align:text-bottom;
    font-size: 1.2em;
    outline: none;
    padding: 0.4em 0.5em;
    margin-left: 20px;
    width: 8em;
    transition: all 0.20s ease-in-out;
}
.header select:hover {
    box-shadow: 0 0 15px rgba(113, 136, 139, 0.9);
    color: #b4b4b4;
}
.header select option {
    color: #000000;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    width: 14em;
}
.btnGreen {
    font-family: serif;
    text-align: left;
    font-size: 1.1em;
    padding: 10px;
    outline: none;
    white-space: nowrap;
    /*background: linear-gradient(360deg,#022124 10%,#efefef 360%);*/
    color: #dddddd;
    /*transition: all 0.20s ease-in-out;*/
}
.btnGreen:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(113, 136, 139, 0.9);
    background: #0221248a;
}
.lastBtnsGroup {
    margin-bottom: 50px;
}
section {
    display: flex;
    justify-content: space-between;
}
.calendar-container {
    position: absolute;
}
.calendar-nav {
    /*max-width: 400px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.6em;
    /*position: relative;*/
}
.calendar-nav button {
    padding: 0.5em;
    font-size: 0.8em;
    background-color: #575757;
    transition: background-color 0.3s;
}
.calendar-nav button:hover {
    /*cursor: pointer;*/
    background-color: #d1d1d1;
}
.fa {
    padding: 0 10px;
}
.select-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 3;
    /*transition: opacity 0.3s ease-in-out;*/
}
.month-year {
    min-width: 300px;
    color: #dbdbdb;
    cursor: default;
    text-align: center;
    /*margin: 0 80px;*/
    /*font-weight: bold;*/
}
.dropdowns {
    display: none;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    background-color: transparent;
    /*border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;*/
    z-index: 1000;
}

.monthDropdown {
    width: fit-content;
    font-size: 0.9em;
    display: none;
    margin: 5px 0;
    background: linear-gradient(360deg,#1d1d1d 10%,#efefef 360%);
    color: #8d8d8d;
    outline: none;
    padding: 8px 10px;
    transition: all 0.20s ease-in-out;
}
.monthDropdown:hover {
    box-shadow: 0 0 15px rgba(113, 136, 139, 0.9);
    color: #b4b4b4;
}
.yearDropdown {
    width: fit-content;
    font-size: 0.9em;
    display: none;
    margin: 5px 0;
    background: linear-gradient(360deg,#1d1d1d 10%,#efefef 360%);
    color: #8d8d8d;
    outline: none;
    padding: 8px 15px;
    transition: all 0.20s ease-in-out;
}
.yearDropdown:hover {
    box-shadow: 0 0 15px rgba(113, 136, 139, 0.9);
    color: #b4b4b4;
}

.dropdowns.visible {
    display: flex;
}
.monthDropdown.visible {
    display: block;
}
.yearDropdown.visible {
    display: block;
}


/*Legende*/
.ploegenLegende-container {
    /*float: right;*/
    width: 11.8em;
    /*margin-right: 20px;*/
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    background: linear-gradient(360deg,#022124 10%,#efefef 360%);
    color: rgba(255, 255, 255, 0.829);
    border-radius: 3px;
}
.ploegenLegende-item {
    display: flex;
    gap: 10px;
}
.ploegenLegende-vak {
    width: 45px;
    height: 20px;
    /*border: 3px solid #dbdbdb;*/
    border-radius: 4px;
}

#calendar.fade-animation {
    animation: fade 0.5s ease-in-out forwards;
}
@keyframes fade {
  from {
    /*transform: translateX(0);*/
    opacity: 0.5;
  }
  to {
    /*transform: translateX(0);*/
    opacity: 1;
  }
}

.hidden {
    display: none;
}
.print-header {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

/*kleuren voor de shiften*/
.shift-nacht {
    background: #4a91e2;
    color: white;
}
.shift-nacht-12u {
    background: #0158bb;
    color: white;
}
.shift-vroege {
   background: #ff8331d3;
   color: rgb(255, 255, 255);
}
.shift-vroege-12u {
    background: #bb4b00;
    color: rgb(255, 255, 255);
}
.shift-late {
    background: #4c9182cb;
    color: rgb(255, 255, 255);
}
.shift-dag {
    background: #949494;
    color: rgb(255, 255, 255);
}
.shift-thuis {
    background: #cfcfcf;
    color: rgb(0, 0, 0);
}
.shift-deeltijds,
.shift-reserve {
    background: #af0d0d;
    color: rgba(221, 221, 221, 0.89);
}
.vandaag {
    outline-offset: -2px;
    outline: 3px solid #dbdbdb;
    box-shadow: inset 0 4px 10px rgb(0, 0, 0);
    border-radius: 8%;
    padding-inline: 2px;
}
.today {
    position: relative;
}
.today::before {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    border-top: 14px solid rgb(255, 0, 0);      
    border-left: 14px solid transparent; 
    border-bottom: none;
    border-right: none;
    z-index: 2;
}

/*.today::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8px;
    background-color: #000000;
    z-index: 2;
}*/
.verborgen-sectie {
    width: 15em;
    visibility: hidden;
}