.year-calendar-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}

/* Rij voor maanden en dagen */
.year-calendar-table .row {
    display: table-row;
}

/* Celstijl + headerstijl*/
.year-calendar-table .cell, .header-cell {
    display: table-cell;
    /*border: 1px solid #ccc;*/
    padding: 4px;
    min-width: 33px;
    max-width: 33px;
    height: 33px;
}

/* Header voor de dagen */
.year-calendar-table .header-cell {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    background-color: #292929; /*#f5f5f5*/
    color: #ffffffc7;
    text-align: center;
    border: 1px solid #6d6d6da1;
}
.year-calendar-table .month-cell {
    /*font-weight: bold;*/
    display: table-cell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    padding-left: 15px;
    max-width: 80px;
    border-radius:0px;
    background-color: #292929; /*#f5f5f5*/
    border: 1px solid #6d6d6da1;
    color: #ffffffc7;
    vertical-align: middle;
    text-align: left;
}
.year-calendar-table .header-cell:first-of-type {
    background-color:transparent;
    border: none;
}
.cell {
    cursor: default;
    user-select: none;
    background-color: #ebebeb;
    color: #000;
    border: 2px solid #ffffff;
    /*border-radius: 4px;*/
    text-align: left;
    /*transition: all 0.1s ease-out;*/
}
.cell:hover {
    outline-offset: -4px;
    outline: 3px solid #949494;
    /*cursor: cell;*/
}

.year-calendar-table .emptyDay {
    display: table-cell;
    background-color: #ffffff; 
    border: 2px solid #ffffff;
}
.verlofLegende-container {
    /*width: 250px;
    float: right;*/
    /*margin-top: -80px;*/
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background: linear-gradient(360deg,#022124 10%,#efefef 360%);
    color: rgba(255, 255, 255, 0.829);
    border-radius: 3px;
}
.verlofLegende-item {
    display: flex;
    gap: 10px;
}
.verlofLegende-vak {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    padding: 6px;
    width: 25px;
    color: black;
    /*border: 3px solid #dbdbdb;*/
    border-radius: 4px;
}
.verlof-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.verlof-inhoud {
    max-width: 620px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
}
.verlof-inhoud .legeCel {
    width: 100px;
}
.inputVak {
    font-size: 1em;
    background-color: rgb(32, 32, 32);
    width: 48px;
    text-align: center;
    padding: 2px 0;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.671);
}

.inputVak:focus,
.inputVak:hover {
    /*box-shadow: 0 0 15px rgba(238, 238, 238, 0.9);*/
    background-color: rgba(48, 48, 48, 0.452);
    color: #d6d6d6;
    border: 1px solid rgb(255, 255, 255);
}
.inputVak::selection {
    background-color: rgba(82, 204, 204, 0.5);
    color: #ffffff;
    
    /*border: 1px solid rgb(255, 255, 255);*/
}

.totaal {
    padding: 5px;
    /*width: 120px;*/
    color: #ececec;
    text-align: left;
}
.outputVak {
    cursor: default;
    font-size: 1em;
    width: 48px;
    padding: 2px 0;
    background-color: transparent;
    text-align: center;
    border: 1px dashed rgba(128, 128, 128, 0.671);
    color: rgb(255, 255, 255);
}
.titel {
    padding: 5px;
    text-align: right;
    color: white;
}
.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;*/
}
.restore {
    width: 200px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    /*height: 48px;*/
    /*background: linear-gradient(360deg,#022124 10%,#efefef 360%);*/
    background-color: rgba(207, 207, 207, 0.315);
    color: rgb(189, 189, 189);
    /*transition: all 0.20s ease-in-out;*/
    cursor: pointer;
    align-content: center;
    text-align: center;
    padding: 9px 15px;
    /*border: 2px solid rgb(75, 75, 75);*/
    /*border-radius: 5px;*/
}
.restore:hover {
    /*border: 2px solid rgba(228, 228, 228, 0.575);*/
    color: rgb(255, 255, 255);
    /*background-color: rgba(99, 99, 99, 0.993);*/
    /*box-shadow: 0 0 5px rgb(165, 165, 165);*/
    outline: auto 2px rgba(128, 128, 128, 0.671);
    
}
.hpButton {
    width: 200px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    /*height: 48px;*/
    background-color: #a10b0b;
    color: rgba(235, 235, 235, 0.815);
    /*transition: all 0.20s ease-in-out;*/
    cursor: pointer;
    align-content: center;
    text-align: center;
    padding: 9px 15px;
    border: 2px solid rgb(75, 75, 75);
    /*border-radius: 5px;*/
}
.hpButton:hover {
    /*box-shadow: 0 0 15px gray;*/
    color: rgb(224, 224, 224);
    /*border: 2px solid rgba(228, 228, 228, 0.575);*/
    outline: auto 2px rgba(128, 128, 128, 0.671);
}
.verlofCollection {
    color: black;
    /*font-weight: bold;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    cursor: pointer;
    text-align: center;
    padding: 10px 5px 0px 5px;
    width: 35px;
    height: 35px;
    /*outline: 2px solid rgb(80, 80, 80);
    outline-style: dashed;
    outline-offset: -4px;*/
    border-radius: 5px;
    border: 3px solid transparent;
    transition: all 0.15s ease-out;
}
.verlofCollection:hover {
    border: 3px solid white;
    box-shadow: 0 0 15px gray;
}
.herplanning-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.BV {
    background-color: #FCD5B4;
}
.CS {
    background-color: #D5A0C7;
}
.ADV {
   background-color: #D3AF81;
}
.BF {
    background-color: rgb(152, 210, 224);
}
.AV {
   background-color: #32AA96;
}
.HP {
    background-color: #a5a5a5;
}
.Z {
    background-color: #F4A54E;
}
.x {
    background: #cacaca;
    color: rgba(41, 41, 41, 0.63);
}
.OPL {
    background-color: #a10b0b;
    /*color: white;*/
}
.hp {
    background-color: #a10b0b;
    color: white;
}

.highlight,
.highlight:hover {
    outline-offset: -4px;
    outline: 3px solid #000000;
}


