.month-container {
    /*position: relative;
    top: -100px;*/
    margin-inline: auto;
    max-width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.month-calendar-nav {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin: 20px 0;
    font-size: 20px;
}
/* Voor de verschuivingseffecten */
.calendar.slide-left {
    transform: translateX(-100%); /* Beweeg de oude maand naar links */
}

.calendar.slide-right {
    transform: translateX(100%); /* Beweeg de nieuwe maand naar rechts */
}

.calendar.reset {
    transform: translateX(0); /* Reset naar de standaardpositie */
}

.month-calendar {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 7px;
    /*transition: transform 0.2s ease; Animatie bij het verschuiven */
    /*position: relative;*/
}

.day-groot, .emptyCellGroot {
    /*border: 3px solid transparent;*/
    font-size: 1.5em;
    padding: 10px;
    border-radius: 2px;
    /*transition: all 0.15s ease-in-out;*/
}
.day-groot:hover {
    cursor: default;
    /*border: 3px solid white;*/
    outline-offset: -2px;
    outline: 2px solid #ffffff;    
}
.emptyCellGroot {
    color: transparent;
}
.emptyCellGroot:hover {
    cursor: default;
}
.month-calendar div.header {
    font-size: 1.2em;
    padding: 10px;
    font-weight: bold;
    /*background-color: #e2e2e2;*/
    border: 1px solid #636363;
    border-radius: 4px;
    color: #ccc;
}







