.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 3;
    transition: opacity 0.3s ease-in-out;
}
.modal-overlay.open {
    opacity: 1;
}
.modal {
    box-sizing: border-box;
    font-size: 18px;
    font-family: monospace;
    display: none;
    position: fixed;
    min-width: 900px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.884);
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    border-radius: 7px;
    z-index: 4;
    /*transform: scale(0);
    animation: zoom 0.3s forwards;*/
}
@keyframes zoom {
    0% {
        transform: scale(0);
    }
    /*80% {
        transform: translate(-50%, -50%) scale(1.1);
    }*/
    100% {
        transform: scale(1);
    }
}
.modal-button-container {
    display: flex;
    justify-content: space-between;
}
.customize-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #a0a0a0;
    margin: 10px 0 10px 0;
}
.fa-close {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fafafa;
    font-size: 45px;
    font-weight: normal;
    transition: 0.2s;
}
.fa-close:hover {
    color: #db1c1c;
}
.overlay-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 90vh;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid rgb(151, 151, 151);
    box-shadow: inset 0 0 10px rgb(155, 155, 155);
    overflow: auto;
}
.overlay-container-partial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #d1d1d1;
    border-radius: 5px;
    padding: 20px;
}
/*.overlay-container-part2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    background-color: #d1d1d1;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid rgb(151, 151, 151);
    box-shadow: inset 0 0 10px rgb(155, 155, 155);
}*/
.overlay-container button {
    background: #e9e9e9;
    color: #000000;
    border-radius: 3px;
    border: none;
    display: inline;
    padding: 10px 20px;
    font-size: 0.9em;
    transition: all 0.20s ease-in-out;
}
.overlay-container button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(94, 94, 94, 0.9);
    background: #e9e9e9;
}
/* specifieker zodat de blauwe achtergrond altijd gebruikt wordt */
.overlay-container .print-modal-button {
    background-color: #0b63d0;
    color: #fafafa;
}

/* houd de hover voor die knop ook blauw */
.overlay-container .print-modal-button:hover {
    background-color: #0950a8; /* iets donkerder blauw */
    box-shadow: 0 0 15px rgba(94, 94, 94, 0.9);
}

.heading-feestdagen {
    text-align: center;
}
/*css voor instellingen modal*/
.top-header {
    display: flex;
    justify-content: space-between;
}
.heading-modal {
    display: inline-block;
    margin: 0;
}
/*.handleiding-container {
    position: relative;
    display: inline;
    cursor: pointer;
}
.handleiding-msg h4 {
    font-weight: bold;
    color: rgb(172, 186, 189);
    margin-bottom: 5px;
}
.handleiding-msg ul {
    padding-left: 10px;
}
.handleiding-msg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 600px;
    font-size: 0.8em;
    visibility: hidden;
    background-color: #464646;
    color: rgb(147, 173, 179);
    text-align: left;
    padding: 15px 10px;  
    border-radius: 5px;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.handleiding-msg::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 5%);
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #464646 transparent;
}
.handleiding-container:hover .handleiding-msg {
    visibility: visible;
    opacity: 1;
}*/
.patroon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.shiften-container,
.ploegen-container {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid rgb(179, 179, 179); 
}
.weken-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.week-container {
    display: flex;
}
.datums-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.fa-minus-circle {
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    color: #020202;
}
.fa-plus-circle {
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    color: #000000;
}
.knop-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}
.knop-container button,
.knop-container2 button {
    background: rgb(218, 218, 218);
    color: #000000;
    padding-inline: 30px;
    font-size: 0.9em;
    white-space: nowrap;
    box-shadow: inset 0 0 10px rgb(155, 155, 155);
}
.knop-container button:hover,
.knop-container2 button:hover {
    cursor: default;
    box-shadow: none;
    background: rgb(172, 186, 189);
}
.knop-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.label-week,
.label-date {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    white-space: nowrap;
}
.shift-input {
    width: 2em;
    height: 25px;
    padding-inline: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
    background-color: #e9e9e9;
    color: #000000;
    border-radius: 4px;
    border: 1px solid rgb(151, 151, 151);
    transition: all 0.10s ease-in-out;
}
.shift-input:focus,
.date-input:focus{
    box-shadow: 0 0 15px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
.date-input {
    height: 27px;
    font-size: 16px;
    padding-inline: 15px;
    border-radius: 4px;
    background-color: #e9e9e9;
    color: #000000;
    outline: none;
    border: 1px solid rgb(151, 151, 151);
    transition: all 0.10s ease-in-out;
}
input[type=checkbox] {
    margin: 15px;
    scale: 1.5;
}
/*css voor ploegen modal*/
.ploeg-data-container {
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid rgb(179, 179, 179); 
}
.ploeg-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 20px;
}
.ploeg-data-container .symbool-input {
    padding-inline: 5px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgb(151, 151, 151);
}
.ploeg-data-container .kleur-input {
    width: 80px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgb(151, 151, 151);
}
/*css voor feestdagen rapport*/
.feestdagen {
    margin: 0;
    border-radius: 5px;
    padding: 20px;
    background-color: #e0e0e0;
}
.feestdag {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #afafaf;
}
.feestdag span {
    font-family: monospace  , sans-serif;
}
.feestdag .spanLinks,
.vakantie .spanLinks {
    color: #003e41;
} 
.feestdag .spanRechts,
.vakantie .spanRechts{
    color: rgb(0, 0, 0);
}
.year-holiday {
    color: #000000;
}
.vakantie {
    text-align: left;
    white-space: nowrap;
}
.vakanties,
.andereInfo {
    border-radius: 5px;
    padding: 20px;
    background-color: #e0e0e0;
}
.vakanties th {
    height: 50px;
    text-align: left;
}
.vakanties td {
    width: 350px;
    padding: 6px 0;
    border-bottom: 1px solid #afafaf;
}
.andereInfo td {
    width: 350px;
    padding: 6px 0;
    border-bottom: 1px solid #afafaf;
}
.rapport {
    color: #022124de;
}
.rapport-grid {
  display: flex;
  gap: 4rem;
}
.kolom-rapport {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.kolom-rapport h3 {
    padding: 5px;
    background-color: #eaeaea;
    border-radius: 3px;
    text-align: center;
}
.rapport-tabel {
  width: 200px;
  border-collapse: collapse;
}
.rapport-tabel td {
  padding: 4px 8px;
  vertical-align: top;
}
.totaal-rij td {
  border-top: 1px solid #999;
  font-weight: bold;
  background-color: #eaeaea;
}
.kolom-rapport table {
  margin-bottom: auto; /* duwt de totaal naar onder */
}
.kolom-rapport td:first-child {
  text-align: left;
}

.kolom-rapport td:last-child {
  text-align: right;
  font-weight: bold;
}
.totaal-kolom-rapport {
    margin-top: 10px;
    background: #445f66;
    color: white;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    color: #dbdbdb;
}
.ratio-rapport {
    margin: 20px 0;
    text-align: center;
    padding: 0 15px;
    background-color: #eaeaea;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
}
.rapport-footer {
    display: block;
    font-size: 14px;
    margin-bottom: auto;
}

/*#customize,*/
#reset {
    background: linear-gradient(180deg, rgb(197, 197, 197), rgb(148, 148, 148));
    box-shadow: inset 0 0 10px rgb(97, 97, 97);
}
/*#customize:hover,*/
#reset:hover {
    background: linear-gradient(180deg, rgb(209, 209, 209), rgb(170, 170, 170));
}
.checkbox-container {
    border-radius: 5px;
    padding: 10px;
    background-color: #d3d3d3;
}
.checkbox-container label{
    display: block;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}