/* Celstijl + headerstijl*/
.year-calendar-table .cell, .header-cell {
    display: table-cell;
    /*border: 1px solid #ccc;*/
    padding: 4px;
    min-width: 33px;
    height: 33px;
}
.cell {
    cursor: default;
    background-color: #ececec;
    color: #000;
    border: 3px solid #ffffff;
    /*border-radius: 4px;*/
    text-align: left;
    /*transition: all 0.1s ease-out;*/
}
.cell:hover {
    outline-offset: -4px;
    outline: 3px solid #000000;
}
.year-calendar-table .emptyDay {
    display: table-cell;
    background-color: #ffffff; 
    border: 3px solid #ffffff;
}
.BV {
    
    background-color: #FCD5B4;
    /*color: white;*/
}
.CS {
    
    background-color: #D5A0C7;
    /*color: white;*/
}
.ADV {
   
    background-color: #D3AF81;
    /*color: white;*/
}
.BF {
    
    background-color: rgb(152, 210, 224);
    /*color: white;*/
}
.AV {
   
    background-color: #32AA96;
    /*color: white;*/
}
.HP {
    
    background-color: #a5a5a5;
    /*color: white;*/
}
.Z {
    
    background-color: #F4A54E;
    /*color: white;*/
}

.highlight {
    outline-offset: -4px;
    outline: 3px solid #000000;
}